/* @import url('https://fonts.googleapis.com/css?family=Oswald');*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@font-face {
  font-family: 'Reglo';
  src: url("reglo/reglo-bold-webfont.woff2") format("woff2"), url("reglo/reglo-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0; }

body, html {
  height: 100%; }

body {
  background: #010000;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Reglo', sans-serif;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

ul {
  list-style: none; }
  ul li a {
    text-decoration: none; }
  ul li a:hover {
    text-decoration: none; }

ul.floated-list {
  margin-bottom: 0; }
  ul.floated-list li {
    float: left;
    display: block; }
    ul.floated-list li a {
      display: block; }
    ul.floated-list li ul {
      margin-bottom: 0; }
      ul.floated-list li ul li {
        float: none; }

a, input[type=submit], button {
  color: inherit;
  -webkit-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out; }
  a:hover, input[type=submit]:hover, button:hover {
    opacity: 0.7; }

img {
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #ffffff; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: inherit; }

p, section li {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6; }

label {
  font-weight: normal; }

.font8px {
  font-size: 8px; }

.font9px {
  font-size: 9px; }

.font10px {
  font-size: 10px; }

.font11px {
  font-size: 11px; }

.font12px {
  font-size: 12px; }

.font13px {
  font-size: 13px; }

.font14px {
  font-size: 14px; }

.font15px {
  font-size: 15px; }

.font16px {
  font-size: 16px; }

.bdrs0 {
  border-radius: 0; }

.bdrs5px {
  border-radius: 5px; }

.bdrs8px {
  border-radius: 8px; }

.bdrs10px {
  border-radius: 10px; }

.icon-text {
  margin-right: 8px; }
  .icon-text.sm {
    margin-right: 4px; }

.weight-200 {
  font-weight: 200; }

.weight-300 {
  font-weight: 300; }

.weight-400 {
  font-weight: 400; }

.weight-600 {
  font-weight: 600; }

.weight-700 {
  font-weight: 700; }

.weight-900 {
  font-weight: 900; }

.font-style-italic {
  font-style: italic; }

.font-style-normal {
  font-style: normal; }

.clear {
  clear: both; }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.uppercase {
  text-transform: uppercase; }

.div-center {
  display: table;
  margin: 0 auto; }

.fullHeight {
  height: 100%; }

.mytable {
  display: table;
  width: 100%;
  height: 100%; }

.fixed-table-layout {
  table-layout: fixed; }

.table-cell {
  display: table-cell; }

.va-middle {
  vertical-align: middle; }

.va-top {
  vertical-align: top; }

.va-bottom {
  vertical-align: bottom; }

.static {
  position: static; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.cover {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.circle {
  border-radius: 50%; }

.mb-0 {
  margin-bottom: 0 !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mt-0 {
  margin-top: 0 !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mt-50 {
  margin-top: 50px !important; }

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.my-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.my-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.my-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

.pt-0 {
  padding-top: 0 !important; }

.pt-10 {
  padding-top: 10px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pt-50 {
  padding-top: 50px !important; }

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.py-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.py-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.py-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }

.py-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important; }

.py-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important; }

.fill {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-20 {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-20 {
    width: 20%;
    float: left; } }

@media (min-width: 992px) {
  .col-md-20 {
    width: 20%;
    float: left; } }

@media (min-width: 1200px) {
  .col-lg-20 {
    width: 20%;
    float: left; } }

.fitVid {
  position: relative;
  padding-bottom: 56%;
  height: 0; }
  .fitVid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.row45 {
  margin-left: -45px;
  margin-right: -45px; }
  .row45 .column {
    padding-left: 45px;
    padding-right: 45px; }

.row30 {
  margin-left: -30px;
  margin-right: -30px; }
  .row30 .column {
    padding-left: 30px;
    padding-right: 30px; }

.row25 {
  margin-left: -25px;
  margin-right: -25px; }
  .row25 .column {
    padding-left: 25px;
    padding-right: 25px; }

.row20 {
  margin-left: -20px;
  margin-right: -20px; }
  .row20 .column {
    padding-left: 20px;
    padding-right: 20px; }

.row10 {
  margin-left: -10px;
  margin-right: -10px; }
  .row10 .column {
    padding-left: 20px;
    padding-right: 10px; }

.row7 {
  margin-left: -7px;
  margin-right: -7px; }
  .row7 .column {
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 14px; }

.row5 {
  margin-left: -5px;
  margin-right: -5px; }
  .row5 .column {
    padding-left: 5px;
    padding-right: 5px; }

@media (max-width: 992px) {
  .row20,
  .row25,
  .row30,
  .row45 {
    margin-left: -15px;
    margin-right: -15px; }
    .row20 .column,
    .row25 .column,
    .row30 .column,
    .row45 .column {
      padding-left: 15px;
      padding-right: 15px; } }

.form-control {
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.055);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.055); }

.form-control[type="button"],
.form-control[type="submit"],
.form-control[type="reset"] {
  -webkit-appearance: none;
  cursor: pointer; }

.form-control::-moz-placeholder {
  color: #838383;
  opacity: 1; }

.form-control:-ms-input-placeholder {
  color: #838383; }

.form-control::-webkit-input-placeholder {
  color: #838383; }

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #fce703 !important; }

.page .header .logo-nav {
  background: #000; }

.header {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 141px; }
  .header .logo-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1; }
    .header .logo-nav .logo {
      padding: 20px 0;
      -webkit-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }
    .header .logo-nav.sticky-logo-nav {
      background-color: rgba(0, 0, 0, 0.7); }
  .header nav ul {
    float: right; }
    .header nav ul li a {
      font-size: 21px; }
  .header nav ul.mainNav {
    margin: 0 -10px; }
    .header nav ul.mainNav li {
      padding: 0 10px; }
  .header nav ul.social {
    margin: 0 -13px;
    padding-left: 40px; }
    .header nav ul.social li {
      padding: 0 13px; }
    @media (max-width: 767px) {
      .header nav ul.social {
        margin: 0 -8px;
        padding-right: 20px; }
        .header nav ul.social li {
          padding: 0 8px; } }
  .header .banner-video {
    padding: 5% 0 3%; }
    .header .banner-video .as-lg-lrg img {
      max-width: 440px; }
    .header .banner-video .location {
      padding-top: 58px; }
      .header .banner-video .location img {
        max-width: 292px; }
    .header .banner-video .cover-video {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden; }
      .header .banner-video .cover-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  .header .banner-text {
    padding-bottom: 3%; }
    .header .banner-text h3 {
      font-size: 33px;
      margin-top: 0; }
  .header .banner-txt-btn {
    padding-bottom: 3%; }
    .header .banner-txt-btn .bnr-txt,
    .header .banner-txt-btn .bnr-btn {
      line-height: 1.1; }
    .header .banner-txt-btn .bnr-txt h3 {
      font-size: 35px;
      margin-top: -7px;
      line-height: 1.2;
      margin-bottom: 0; }
    .header .banner-txt-btn .bnr-btn {
      text-align: center; }
      .header .banner-txt-btn .bnr-btn a {
        color: black;
        background: #fce703;
        display: block;
        border-radius: 6px;
        padding: 20px 15px 20px;
        font-size: 35px;
        line-height: 1.1;
        font-weight: 500 !important; }
  .header .banner-tabs {
    padding-bottom: 5%;
    padding-top: 2%; }
    .header .banner-tabs a {
      display: block;
      border-radius: 6px;
      padding: 5px 15px 2px;
      background-color: rgba(64, 183, 255, 0.43);
      font-size: 31px;
      font-weight: 500 !important; }
  @media (max-width: 992px) {
    .header .banner-video .as-lg-lrg img {
      max-width: 320px; }
    .header .banner-video .location {
      padding-top: 30px;
      margin-bottom: 30px; }
      .header .banner-video .location img {
        max-width: 210px; }
    .header .banner-txt-btn .bnr-txt {
      margin-bottom: 12px;
      margin-top: 18px; }
    .header .banner-tabs a {
      font-size: 27px; } }
  @media (max-width: 767px) {
    .header {
      padding-top: 97px; }
      .header .logo-nav .logo {
        padding: 15px 0; }
        .header .logo-nav .logo img {
          max-width: 45px; }
      .header .banner-video .as-lg-lrg img {
        max-width: 230px; }
      .header .banner-video .location img {
        max-width: 160px; }
      .header .banner-tabs a {
        margin-top: 10px; } }

.section {
  padding: 70px 0; }
  @media (max-width: 767px) {
    .section {
      padding: 35px 0; } }
  .section .megatitle {
    font-size: 70px; }
    @media (max-width: 767px) {
      .section .megatitle {
        font-size: 35px; } }
  .section h4 {
    margin: 2% 0 20px 0; }
  .section h4.spacer {
    margin-top: 10%; }
  .section a.underline {
    text-decoration: underline;
    cursor: pointer; }
  .section a:hover {
    text-decoration: none; }
  .section li {
    list-style: disc;
    margin-left: 18px;
    font-size: 14px; }
  .section form.contact {
    padding-top: 1%; }
    .section form.contact ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #a0a0a0;
      opacity: 0.5;
      text-transform: uppercase; }
    .section form.contact ::-moz-placeholder {
      /* Firefox 19+ */
      color: #a0a0a0;
      opacity: 0.5;
      text-transform: uppercase; }
    .section form.contact :-ms-input-placeholder {
      /* IE 10+ */
      color: #a0a0a0;
      opacity: 0.5;
      text-transform: uppercase; }
    .section form.contact :-moz-placeholder {
      /* Firefox 18- */
      color: #a0a0a0;
      opacity: 0.5;
      text-transform: uppercase; }
    .section form.contact button.yellowbtn {
      padding: 0px 15px !important;
      float: right;
      margin-top: 1% !important;
      font-size: 23px !important; }
  .section form.contact input {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1%;
    color: #000101; }
  .section form.contact label {
    display: none; }
  .section form.contact textarea {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    color: #000101; }
  .section .sec-title {
    margin-bottom: 40px; }
    .section .sec-title h2 {
      margin: 0;
      font-size: 45px; }
    .section .sec-title h3 {
      margin-bottom: 1%; }
  .section a.yellowbtn, .section button.yellowbtn {
    color: black;
    display: block;
    border-radius: 10px;
    padding: 0.15% 3%;
    font-size: 22px;
    color: #000;
    border-radius: 5px;
    background: #fce703;
    text-align: center;
    line-height: 1.9;
    max-width: 270px;
    font-weight: 500 !important;
    margin: 20px 0;
    text-transform: uppercase; }
  .section a.small {
    font-size: 20px !important;
    padding: 0.15% 1% !important;
    max-width: 170px; }
  .section.section-tickets {
    background-image: url("../images/stripe-green.png");
    background-repeat: no-repeat;
    background-position: left bottom; }
    .section.section-tickets h3 {
      font-size: 31px;
      padding-top: 30px !important;
      clear: both;
      text-align: center;
      margin-top: 0;
      font-weight: 300;
      text-transform: uppercase; }
    .section.section-tickets .text h3 {
      padding-top: 0 !important;
      margin-bottom: 4% !important; }
    .section.section-tickets .text h3.pink a {
      color: #fb02ec; }
    .section.section-tickets .container .row .column .each-ticket {
      height: 240px;
      background-repeat: no-repeat;
      margin: 10px 0;
      border-radius: 6px;
      position: relative;
      text-transform: uppercase;
      padding: 15px 0;
      text-align: center; }
      .section.section-tickets .container .row .column .each-ticket.et-with-ico {
        background-position: top left;
        background-repeat: no-repeat; }
        .section.section-tickets .container .row .column .each-ticket.et-with-ico h5 {
          color: #fb02ec;
          margin-top: 0 !important;
          margin-bottom: 0.5% !important; }
        .section.section-tickets .container .row .column .each-ticket.et-with-ico .ticket-btns {
          padding-top: 0 !important; }
        @media (max-width: 767px) {
          .section.section-tickets .container .row .column .each-ticket.et-with-ico {
            background-size: 100px 100px; } }
      .section.section-tickets .container .row .column .each-ticket h2, .section.section-tickets .container .row .column .each-ticket h3 {
        margin: 0; }
      .section.section-tickets .container .row .column .each-ticket h2 {
        font-size: 50px; }
      .section.section-tickets .container .row .column .each-ticket h3 {
        font-size: 28px;
        padding-top: 0 !important; }
        @media (max-width: 1199px) {
          .section.section-tickets .container .row .column .each-ticket h3 {
            font-size: 25px; } }
      .section.section-tickets .container .row .column .each-ticket .ticket-btns {
        padding-top: 15px; }
        .section.section-tickets .container .row .column .each-ticket .ticket-btns a {
          padding: 3px 10px;
          font-size: 25px;
          display: block;
          color: #000204;
          border-radius: 4px;
          margin-top: 10px; }
    .section.section-tickets .container .row .column:nth-child(odd) .each-ticket {
      background-color: #fce703; }
      .section.section-tickets .container .row .column:nth-child(odd) .each-ticket h3 {
        color: #000204; }
      .section.section-tickets .container .row .column:nth-child(odd) .each-ticket .ticket-btns a:first-child {
        background-color: #40b7ff; }
      .section.section-tickets .container .row .column:nth-child(odd) .each-ticket .ticket-btns a:last-child {
        background-color: #fcf6bb; }
    .section.section-tickets .container .row .column:nth-child(even) .each-ticket {
      background-color: #40b7ff; }
      .section.section-tickets .container .row .column:nth-child(even) .each-ticket h3 {
        color: #ffffff; }
      .section.section-tickets .container .row .column:nth-child(even) .each-ticket .ticket-btns a:first-child {
        background-color: #fce703; }
      .section.section-tickets .container .row .column:nth-child(even) .each-ticket .ticket-btns a:last-child {
        background-color: #fcf6bb; }
  .section.section-about {
    background-repeat: no-repeat;
    padding-bottom: 27%;
    background-size: cover;
    background-position: center; }
    .section.section-about .sa-lrg-img .sali-caption h1 {
      margin: 0;
      font-size: 100px; }
    .section.section-about .sidebar img {
      margin: 1.2% 0 8% 0; }
    @media (max-width: 992px) {
      .section.section-about .sa-lrg-img.pb-50 {
        padding-bottom: 0 !important; }
      .section.section-about .row25 .column {
        margin-top: 15px;
        margin-bottom: 15px; } }
  .section.section-individual {
    background-image: url("../images/stripe-green.png");
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 0; }
    .section.section-individual img.full {
      width: 100%; }
  .section.section-news {
    padding-bottom: 10%;
    /*
			background-size: cover;
			background-position: bottom center;
			background-repeat: no-repeat;*/ }
  .section.section-instagram {
    padding: 0 !important; }
    .section.section-instagram .row {
      padding: 0 25px !important; }
      .section.section-instagram .row .column {
        padding: 0 !important; }
        .section.section-instagram .row .column .each-insta > a {
          height: 450px;
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          display: block;
          background-position: center; }
  .section.section-newsletter .row .column {
    padding-top: 0; }
    .section.section-newsletter .row .column h2 {
      font-size: 35px;
      text-transform: uppercase;
      padding: 0;
      margin: 0.5% 0 0 0; }
      @media (max-width: 1429px) {
        .section.section-newsletter .row .column h2 {
          font-size: 27px; } }
      @media (max-width: 1199px) {
        .section.section-newsletter .row .column h2 {
          font-size: 23px; } }
      @media (max-width: 767px) {
        .section.section-newsletter .row .column h2 {
          font-size: 27px;
          margin-bottom: 5px; } }
    .section.section-newsletter .row .column label {
      display: none; }
    .section.section-newsletter .row .column input {
      padding: 0.15% 2%;
      font-size: 14px;
      color: #000;
      border-radius: 5px;
      height: 37px;
      line-height: 1.9rem;
      width: 300px; }
      @media (max-width: 767px) {
        .section.section-newsletter .row .column input {
          width: 100%; } }
    .section.section-newsletter .row .column ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #a0a0a0;
      opacity: 0.5;
      text-transform: uppercase; }
    .section.section-newsletter .row .column ::-moz-placeholder {
      /* Firefox 19+ */
      color: #a0a0a0;
      opacity: 0.5;
      text-transform: uppercase; }
    .section.section-newsletter .row .column :-ms-input-placeholder {
      /* IE 10+ */
      color: #a0a0a0;
      opacity: 0.5;
      text-transform: uppercase; }
    .section.section-newsletter .row .column :-moz-placeholder {
      /* Firefox 18- */
      color: #a0a0a0;
      opacity: 0.5;
      text-transform: uppercase; }
    .section.section-newsletter .row .column button {
      padding: 0.15% 2%;
      font-size: 23px;
      color: #000;
      border-radius: 5px;
      height: 37px;
      margin-left: 1%;
      position: relative;
      top: 3px;
      width: 200px;
      text-transform: uppercase;
      background: #fce703; }
      @media (max-width: 767px) {
        .section.section-newsletter .row .column button {
          width: 100%;
          margin-left: 0; } }

.footer {
  color: #000204;
  text-transform: uppercase;
  padding: 25px 0; }
  .footer .foot-logo img {
    max-width: 40px; }
  .footer .foot-cap {
    font-size: 12px; }
  .footer .foot-links ul {
    float: right;
    margin: 0 -10px; }
    .footer .foot-links ul li {
      padding: 0 10px; }
      .footer .foot-links ul li a {
        font-size: 17px; }
        .footer .foot-links ul li a i {
          font-size: 20px; }
  @media (max-width: 992px) {
    .footer {
      padding: 15px 0; }
      .footer .mytable,
      .footer .table-cell {
        display: block;
        text-align: center; }
      .footer .foot-cap {
        margin-top: 10px; }
      .footer .foot-links {
        margin-top: 10px; }
        .footer .foot-links ul {
          float: none;
          margin: 0; }
          .footer .foot-links ul li {
            display: inline;
            float: none;
            padding: 5px 12px; }
            .footer .foot-links ul li a {
              display: inline; } }

@media (min-width: 768px) {
  .offcanvas,
  .toggle,
  .body-inactive {
    display: none !important; } }

@media (max-width: 767px) {
  .mainNav {
    display: none; }
  .toggle {
    float: right;
    margin-top: 1%; }
  .offcanvas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    background: #40b7ff;
    width: 100%;
    z-index: 99;
    padding: 50px 0 0; }
    .offcanvas ul {
      margin: 0 0 15px;
      display: block; }
      .offcanvas ul li {
        float: none; }
        .offcanvas ul li a {
          font-size: 21px;
          display: block;
          padding: 10px 15px; }
        .offcanvas ul li ul.dropdown {
          display: none;
          padding-left: 15px;
          padding-top: 15px;
          padding-bottom: 10px;
          background-color: #b95656;
          margin-bottom: 0; }
          .offcanvas ul li ul.dropdown h5.capitalize {
            display: none; }
      .offcanvas ul.mynav > li {
        border-bottom: 1px solid #b95656; }
    .offcanvas .coff {
      top: 0;
      left: 0; }
      .offcanvas .coff a {
        padding: 9px;
        display: block; }
  .offcanvas.show-offcanvas {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  .body-inactive {
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.54);
    display: none; } }

.theme-fce703 {
  color: #fce703 !important; }

.theme-fce703-bg {
  background-color: #fce703 !important; }

.theme-a0a0a0 {
  color: #a0a0a0 !important; }

.theme-a0a0a0-bg {
  background-color: #a0a0a0 !important; }

.theme-edfc05 {
  color: #edfc05 !important; }

.theme-edfc05-bg {
  background-color: #edfc05 !important; }

.theme-010000 {
  color: #010000 !important; }

.theme-010000-bg {
  background-color: #010000 !important; }

.theme-000101 {
  color: #000101 !important; }

.theme-000101-bg {
  background-color: #000101 !important; }

.theme-000101 {
  color: #000101 !important; }

.theme-020000-bg {
  background-color: #020000 !important; }

.theme-020000 {
  color: #020000 !important; }

.theme-139ec7-bg {
  background-color: #139ec7 !important; }

.theme-139ec7 {
  color: #139ec7 !important; }

.theme-1c1c1c-bg {
  background-color: #1c1c1c !important; }

.theme-1c1c1c {
  color: #1c1c1c !important; }

.theme-222222-bg {
  background-color: #222222 !important; }

.theme-ffffff {
  color: #ffffff !important; }

.theme-ffffff-bg {
  background-color: #ffffff !important; }
