
// Color Schemas
$theme-a0a0a0:      #a0a0a0;
$theme-ffffff:      #ffffff;
$theme-fce703:      #fce703;
$theme-edfc05:      #edfc05;
$theme-010000:      #010000;
$theme-222222:      #222222;
$theme-000101:      #000101;
$theme-1c1c1c:      #1c1c1c;
$theme-020000:      #020000;
$theme-139ec7:      #139ec7;